---
import Newsletter from './Newsletter.astro';
---
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
      <div class="row g-5">
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Quick Links</h4>
          <a class="btn btn-link" href="/about">About Us</a>
          <a class="btn btn-link" href="/admissions">Admissions</a>
          <a class="btn btn-link" href="/application">Apply Online</a>
          <a class="btn btn-link" href="/faq">FAQ</a>
          <a class="btn btn-link" href="/contact">Contact Us</a>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">Contact Us</h4>
          <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Tshikhuthula Village, Limpopo Province</p>
          <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+27 15 123 4567</p>
          <p class="mb-2"><i class="fa fa-envelope me-3"></i>admissions@tshikhuthula.edu.za</p>
          <p class="mb-2"><i class="fa fa-clock me-3"></i>Mon-Fri: 7:30 AM - 3:00 PM</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h4 class="text-white mb-3">School Information</h4>
          <p class="mb-2"><i class="fa fa-graduation-cap me-3"></i>Grades R - 7</p>
          <p class="mb-2"><i class="fa fa-users me-3"></i>Small Class Sizes</p>
          <p class="mb-2"><i class="fa fa-bus me-3"></i>Transport Available</p>
          <p class="mb-2"><i class="fa fa-utensils me-3"></i>Nutritious Meals</p>
          <div class="d-flex pt-2">
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
        <Newsletter id="newsletter-email-footer" />
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        <div class="row">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            &copy; <a class="border-bottom" href="#">Tshikhuthula Primary School</a>, All Rights Reserved.
          </div>
          <div class="col-md-6 text-center text-md-end">
            <div class="footer-menu">
              <a href="/">Home</a>
              <a href="/admissions">Admissions</a>
              <a href="/application">Apply</a>
              <a href="/contact">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>