---
---
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
      <h2 class="m-0 text-primary"><i class="fa fa-graduation-cap me-3"></i>Tshikhuthula Primary</h2>
    </a>
    <button
      type="button"
      class="navbar-toggler me-4"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
        <a href="/" class="nav-item nav-link">Home</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
          <div class="dropdown-menu fade-down m-0">
            <a href="/about" class="dropdown-item">About Us</a>
            <a href="/academics" class="dropdown-item">Academics</a>
            <a href="/staff" class="dropdown-item">Our Staff</a>
            <a href="/events" class="dropdown-item">Events</a>
            <a href="/yearbook" class="dropdown-item">Yearbook</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Admissions</a>
          <div class="dropdown-menu fade-down m-0">
            <a href="/admissions" class="dropdown-item">Admissions Process</a>
            <a href="/application" class="dropdown-item">Apply Online</a>
            <a href="/faq" class="dropdown-item">FAQ</a>
          </div>
        </div>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sponsors</a>
          <div class="dropdown-menu fade-down m-0">
            <a href="/sponsors" class="dropdown-item">Our Sponsors</a>
            <a href="/contact" class="dropdown-item">Become a Sponsor</a>
          </div>
        </div>
        <a href="/contact" class="nav-item nav-link">Contact</a>
      </div>
      <a href="/application" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block"
        >Apply Now<i class="fa fa-arrow-right ms-3"></i></a
      >
    </div>
  </nav>