---
export interface Props {
  id?: string;
}

const { id = "newsletter-email" } = Astro.props;
---

<div class="col-lg-3 col-md-6">
  <h4 class="text-white mb-3">Newsletter</h4>
  <p>Subscribe to our newsletter for updates</p>
  <div class="position-relative mx-auto" style="max-width: 400px;">
    <input 
      class="form-control border-0 w-100 py-3 ps-4 pe-5" 
      type="email" 
      id={id} 
      name="newsletter-email" 
      placeholder="Your email" 
    />
    <button 
      type="button" 
      class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
    >
      SignUp
    </button>
  </div>
</div>